/* **
*	Pinterest Bot - Admin Panel
* 	Auth Form Component Scss
*
*   @author Pavel Lauer (front-end developer markline.agency)
*   @copyright 2018©Markline.Agency
*/
.auth-form {
    min-width: 320px;

    .auth-form-footer {
        margin-top: 24px;
        font-size: 12px;
        color: rgba(0,0,0,.42);
    }
}