.home-page-wrapper
	v-card
		v-toolbar(flat)
			v-toolbar-title Главная страница
			v-spacer
			
			<template v-slot:extension>
				v-tabs(v-model="currentMenu", background-color="transparent", fixed-tabs, slider-color="white")
					v-tab(v-for="item in items", :key="item.href", :href="'#section-' + item.href", :class="currentMenu == item.href ? 'primary--text' : ''") 
						v-icon(medium) {{ item.icon }}
						|&nbsp;{{ item.name }}
			</template>

				
				
		v-tabs-items(v-model="currentMenu")

			v-tab-item(value="section-banner")
				banner-edit(:title="form.titleH1", :text="form.text", :image="form.imageUrl", :id="form.id", @submit_form="submitForm")

			v-tab-item(value="section-content")
				homepage-content(:content="form.content", @submit_form="submitForm")

			v-tab-item(value="section-seo")
				seo-edit(:seo="form.seo", @submit_form="submitForm")


	v-snackbar(v-model="snackbar", :bottom="true", :timeout="6000", :color="snackbarStatus", :multi-line="true")
		strong {{ message }}
		v-btn(color="white", @click="snackbar = false", fab, icon, small)
			v-icon close