.sites-page-wrapper
	v-card
		v-toolbar(flat)
			v-toolbar-title Список сайтов
			v-spacer
		sitesList(:items="items")



	v-snackbar(v-model="snackbar", :bottom="true", :timeout="6000", :color="snackbarStatus", :multi-line="true")
		strong {{ message }}
		v-btn(color="white", @click="snackbar = false", fab, icon, small)
			v-icon close